{# templates/category/edit.html.twig #}
{% extends 'blog_template.html.twig' %}

{% block title %}{{ parent() }} Accueil de l'Administration des Catégories | Mise à jour de la catégorie{% endblock %}

{% block body %}
    {% block content %}
        <h1>Mettre à jour la categorie : {{ category.title }}</h1>
    {% endblock %}

    {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_category_index') }}">back to list</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
